body {
  font-family: Arial, sans-serif; 
  margin: 0; /* usuwa domyślne marginesy */
  padding: 0;
  background-color: #f5f5f5; /* jasne tło */
  color: #333; /* ciemny tekst */
}


h1 {
  text-align: center; 
  margin-top: 20px;
}


nav {
  background-color: #444; 
  padding: 10px;
}

nav ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px; 
}

nav ul li a {
  color: white; 
  text-decoration: none; 
}

nav ul li a:hover {
  text-decoration: underline; 
}


section {
  max-width: 800px;
  margin: 20px auto; 
  padding: 15px;
  background-color: white; 
  border-radius: 5px; 
}


table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid #444; 
  padding: 8px;
  text-align: center;
}

th {
  background-color: #444; 
  color: white; 
}


ul {
  padding-left: 20px; 
}


.galeria {
  display: flex; 
  gap: 10px; 
  justify-content: center; 
}

.galeria img {
  width: 30%; 
  border-radius: 5px;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #444;
  color: white;
  margin-top: 20px;
}